@import 'src/variables';

.root {
  width: 100%;
  height: auto;
  font-family: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .input {
    width: 85%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid $greenBorder;
    padding: 8px;
    font-size: 1rem;
    outline: none;
  }

  .controls {
    align-self: end;
    button:first-child {
      margin-right: 8px;
    }
  }
}
