$decreaseRateBG: #fce8e6;
$increaseRateBG: #e6f4ea;

$decreaseRateFont: #c5221f;
$increaseRateFont: #137333;

$greenBorder: #13733366;
$greyBorder: #dadce0;

$defWhiteHover: #f8f9fa;
$hoveredBorderGrey: #aaadaf;
