@import 'src/variables';

.root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 36px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.element {
  cursor: pointer;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $greyBorder;
  display: flex;
  justify-content: center;
  margin: 0 2px;
  height: 36px;
  align-items: center;
  transition: 0.4s;

  &:hover {
    background-color: $defWhiteHover;
    border-color: $hoveredBorderGrey;
  }
  &:active {
    background-color: #89daa2;
  }
  &.active {
    background-color: #a5d9b4;
  }
}
